<%- include('header') -%>

<section>
  <%- include('back-button') -%>
  <h2>Secret Santa!</h2>
  <p class="beeger">Your Giftee is <span class="strong"><%= data[0] %></span>.</p>
  <div class="wishlist beeger">
    <p class="giftee"><span class="strong"><%= data[0] %></span> wishes for:</p>
    <ul class="wishlistlist">
      <li><span><%= data[1].wish1 %></span></li>
      <li><span><%= data[1].wish2 %></span></li>
      <li><span><%= data[1].wish3 %></span></li>
    </ul>
  </div>
</section>

<%- include('footer') -%>